html {
    width: 800px;
}
.section1 {
    background-image: url ("/images/image2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.one {
    display: flex;
}
.one h3 {
    color: #F6B400;
}
.back {
    display: flex;
}
.two ul {
    list-style: none;
    display: flex;
    margin-left: 80%;
    justify-content: stretch;
}
.two button {
    background-color: #F6B400;
}
.section2 {
    margin-top: 10%;
}