html {
    width: 800px;
}
.board {
    background-image: url("images/image2.png");
    background-size: cover;
    height: 320px;
}
.section1 {
   display: flex;
   background-color: transparent;
}
.section1 h5 {
    color: #F6B400;
}
.one {
    display: flex;
    margin-left: 7%;
}
.one h3 {
    color: #F6B400;
}
.back {
    display: flex;
}
.two ul {
    list-style: none;
    display: flex;
    margin-left: 80%;
    justify-content: space-between;
}
.two button {
    background-color: #F6B400;
    color: white;
}
.section2 {
    margin-top: 10%;
    margin-left: 7%
    margin-bottom: 0%
}
.section2 h2 {
    color: white;
    margin: 5%;
}
.section2 button {
    background-color: #F19201;
    color: white;
    margin: 5%;
    margin-bottom: 5%;
}
.section3 {
    text-align: center;
    background-color: #E1EBE6;
    margin-top: 0%;
}
.section3 button {
    background-color: #F19201;
    border-radius: 25px;
    font-size: x-large;
    color: white;
    border-color: #F19201;
}
.section3 h1 {
    color: #F19201;
}
.boxes {
display: flex;
margin-left: 7%;
margin-top: 2em;
}
#box1 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
#box2 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
#box3 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
.section4 {
    display: flex;
}
#reviews {
    text-align: center;
    margin-left: 0%;
    color: white;
    background-color: black;
}
.section5 {
    text-align: center;
    background-color: #E1EBE6;
    margin-bottom: 0%;
}
.section5 h2 {
    color: #F19201;
}
.begin {
    display: flex;
}
#chapati {
    display: flex;
    border: solid grey;
    background-color: white;
    border-width: 1px;
    margin: 1%;
    align-items: center;
    height: 200px;
    width: 300px;
    margin-left: 10%;
}
#price1 h4 {
color: #F19201;
}
#beaf {
    display: flex;
    border: solid grey;
    background-color: white;
    border-width: 1px;
    margin: 1%;
    align-items: center;
    height: 200px;
    width: 300px;
}
#price2 h4 {
    color: #F19201;
}
.end {
    display: flex;
}
#chicken {
    display: flex;
    border: solid grey;
    background-color: white;
    border-width: 1px;
    margin: 1%;
    align-items: center;
    height: 200px;
    width: 300px;
    margin-left: 10%;
}
#price3 h4 {
    color: #F19201;
}
#rice {
  display: flex; 
  border: solid grey;
  background-color: white;
  border-width: 1px;
  margin: 1%;
  align-items: center;
  height: 200px;
  width: 300px;
}
#price4 h4 {
    color: #F19201;
}
.section6 {
    text-align: center;
    background-image: url("images/Desktop\ -\ 1.png");
    background-size: cover;
    margin-top: 0%;
    align-items: center;
}
#up {
     height: 250px;;
     align-items: center;
     color: white;
}
footer {
    text-align: center;
    margin-top: 2em;
    background-color: black;
    color: white;
}