html {
    width: 800px;
}
.section1 {
    background-image: url ("/images/image2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.one {
    display: flex;
    margin-left: 7%;
}
.one h3 {
    color: #F6B400;
}
.back {
    display: flex;
}
.two ul {
    list-style: none;
    display: flex;
    margin-left: 80%;
    justify-content: space-between;
}
.two button {
    background-color: #F6B400;
}
.section2 {
    margin-top: 10%;
    margin-left: 7%
}
.section2 button {
    background-color: #F19201;
}
.section3 {
    text-align: center;
    background-color: #E1EBE6;
    margin-top: 10em;
}
.section3 button {
    background-color: #F19201;
    border-radius: 25px;
    font-size: x-large;
    color: white;
    border-color: #F19201;
}
.section3 h1 {
    color: #F19201;
}
.boxes {
display: flex;
margin-left: 7%;
margin-top: 2em;
}
#box1 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
#box2 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
#box3 {
    border: solid #E1EBE6;
    background-color: white;
    margin-bottom: 1%;
    height: 200px;
}
.section4 {
    display: flex;
}
#reviews {
    text-align: center;
    margin-left: 0%;
    color: white;
    background-color: black;
}